<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/table.css') }}">
<script>
function myFunctionUsername() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("username");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script>
function myFunctionFilename() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("filename");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script>
function myFunctionStatus() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("status");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[5];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</head>
<body>
  <div class="header">
    <h1>BFI National Archive Image Sequence Processing</h1>
    <p>View image sequence encoding progress and request refresh of sequence to trigger encoding restart.</p>
  </div>
  <div class="topnav">
    <a href="{{ url_for('reset_request') }}">Refresh request</a>
    <a href="{{ url_for('encodings') }}">View encodings</a>
    <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/article/3399090177">Instructions</a>
    <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/group/-1" class="split">Service Desk</a>
  </div>
  <input type="text" id="seq_id" onkeyup="myFunctionUsername()" placeholder="Filter by sequence...">
  <input type="text" id="status" onkeyup="myFunctionStatus()" placeholder="Filter by status...">
  <input type="text" id="encoding_choice" onkeyup="myFunctionFilename()" placeholder="Filter by encoding type...">
  <input type="text" id="gaps_in_sequence" onkeyup="myFunctionStatus()" placeholder="Filter by sequence gaps...">
  <div style="overflow-x:auto;">
    <table id="myTable" class="searchable sortable" style="width:100%">
        <tr class="header">
          <th onclick="sortTable(0)">Sequence name</th>
          <th onclick="sortTable(1)">Status</th>
          <th onclick="sortTable(3)">First image</th>
          <th onclick="sortTable(4)">Last image</th>
          <th onclick="sortTable(5)">Sequence gaps</th>
          <th onclick="sortTable(6)">Assessment pass</th>
          <th onclick="sortTable(8)">Colourspace</th>
          <th onclick="sortTable(9)">Sequence byte size</th>
          <th onclick="sortTable(10)">Bit depth</th>
          <th onclick="sortTable(11)">Width</th>
          <th onclick="sortTable(12)">Height</th>
          <th onclick="sortTable(13)">Encoding start</th>
          <th onclick="sortTable(14)">Encoding type</th>
          <th onclick="sortTable(16)">Retry count</th>
          <th onclick="sortTable(17)">Encoding end</th>
          <th onclick="sortTable(19)">New file size</th>
          <th onclick="sortTable(20)">New file MD5</th>
          <th onclick="sortTable(22)">Validation pass</th>
          <th onclick="sortTable(23)">Error message</th>
          <th onclick="sortTable(24)">Last update</th>
          <th onclick="sortTable(25)">Sequence deleted</th>
          <th onclick="sortTable(26)">Moved to autoingest</th>
        </tr>
        {%for downloads in data%}
          <tr>
            <td>{{downloads[1]}}</td>
            <td>{{downloads[2]}}</td>
            <td>{{downloads[4]}}</td>
            <td>{{downloads[5]}}</td>
            <td>{{downloads[6]}}</td>
            <td>{{downloads[7]}}</td>
            <td>{{downloads[9]}}</td>
            <td>{{downloads[10]}}</td>
            <td>{{downloads[11]}}</td>
            <td>{{downloads[12]}}</td>
            <td>{{downloads[13]}}</td>
            <td>{{downloads[14]}}</td>
            <td>{{downloads[15]}}</td>
            <td>{{downloads[17]}}</td>
            <td>{{downloads[18]}}</td>
            <td>{{downloads[20]}}</td>
            <td>{{downloads[21]}}</td>
            <td>{{downloads[23]}}</td>
            <td>{{downloads[24]}}</td>
            <td>{{downloads[25]}}</td>
            <td>{{downloads[26]}}</td>
            <td>{{downloads[27]}}</td>
          </tr>
        {%endfor%}
    </table>
  </div>
</body>
</html>
