<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/form.css') }}">
    </head>
    <body>
        <div class="header">
            <h1>BFI National Archive Image Sequence Processing</h1>
            <p>View image sequence encoding progress and request refresh of sequence to trigger encoding restart.</p>
        </div>
        <div class="topnav">
          <a href="{{ url_for('reset_request') }}">Refresh request</a>
          <a href="{{ url_for('encodings') }}">View encodings</a>
          <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/article/4051402810">Instructions</a>
          <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/group/-1" class="split">Service Desk</a>
        </div>
        <form method="POST">
            <!-- <label id="label">Enter name (surname and initial):</label> -->
            <input type="text" name="seq_id" placeholder="Enter image sequence name - eg N_123456_01of03" required><br/>
            <!-- <label id="label">Enter sequence name:</label> -->
            <input type="text" name="email" placeholder="Enter email address in full - only BFI emails are permitted - eg joe.smith@bfi.org.uk" required><br/>
            <!-- <label id="label" for="action_type">Selection action type:</label> -->
            <select name="request" id="request" required>
                <option value="" disabled selected>Select action</option>
                <option value="Full reset">Full restart of sequence encoding (clear database entry)</option>
            </select><br/>
            <input type="submit" value="submit"/><br/>
        </form>
    </body>
</html>
